


#Pink {
    background-image: url("../images/PalePinkBackground.jpg");
    background-size: cover;
    background-position: center center;
    position: relative; 
    top: 100%;
    bottom: 100%;
    height: 100vh;
    z-index: -10;
}

.Example1 {
    position: absolute;
    top: -700px;
    right: -20px;
}
.Example2 {
    position: absolute;
    top: -619px;
    right: 324px;
}
.Example3 {
    position: absolute;
    top: -538px;
    right: 669px;
}
.Example4 {
    position: absolute;
    top: -532px;
    right: -19px;
}
.Example5 {
    position: absolute;
    top: -452px;
    right: 325px;
}
.Example6 {
    position: absolute;
    top: -371px;
    right: 669px;
}
#main-navigation {
    position: absolute;
    top: -928px;
    right: 0px;
}