* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-size: 10px;
    font-family: "roboto Cn", sans-serif;
} 

a {
    text-decoration: none;
    color: #eee;
}
body {
    overflow-x: hidden;
    background-color: black;
    height: 1000px;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/SeattleHeader.jpg") center no-repeat;
    background-size: cover;
}

.main-navigation{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

nav{
    padding-top: 5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.Emma-Tran {
    font-size: 3rem;
    font-weight: 300;
}

.Emma-Tran span {
    color: #FF1493;
}

nav ul{
    display: flex;
}
nav ul li{ 
    list-style: none;
}

nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    }

#main-introduction {
    position: absolute;
    font-family: "roboto Cn", sans-serif;
    font-size: 24px;
    color: white;
    top: 185px;
    left: 45px;
}
#main-introduction .Aloha {
    font-size: 48px;
    color: #ff1493;
}
#main-introduction span {
    color: #ff1493
}
nav ul li a:last-child {
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff1493;
    left: 0;
    transform: ScaleX(0);
    transition: all .5s;
}

nav ul li a::before {
    top: 0;
    transform-origin: left;
}
nav ul li a::after {
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    transform: ScaleX(1);
}

#Black-Background{
    background-color:black;
    height: 200vh;
}

.Seattle-Image {
    position: relative;
    bottom: 170rem;
    width: 25%;

}

.Seattle-Description {
    position: relative;
    font-size: 24px;
    color: white;
    bottom: 150rem;
    left: 50rem;
}

#Contact-Me {
    position: relative;
    color: white;
}

#Contact-Me p:first-child {
    font-size: 36px;
    bottom: 40rem;
    left: 50rem;
}

#Contact-Me p:last-child {
    font-size: 24px;
    bottom: 40rem;
    left: 50rem;
}
